html {
    box-sizing: border-box;
    overflow: hidden;
} *, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-size: 100%;
} h1, h2, h3, p {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #eeebeb;
    transition: background-color 1s;
}

h1, h2 {
    font-family: "Merriweather", serif;
    font-size: 3.6em;
    font-weight: 900;
}
h2 {
    font-size: 2.4em;
}
label, p {
    font-family: "Archivo", sans-serif;
    font-weight: 200;
    font-size: 1.2em;
    /* font-style: italic; */
    font-synthesis: none;
}

.main-window {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    gap: 3em;
    align-items: center;
} .part-small {
    flex: 3 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1em;
} .part-big {
    flex: 5 0 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
} .divider {
    background-color: black;
    flex: 0 0 2px;
    min-height: 80vh;
    transform: rotate(6deg);
} .text-submit {
    display: flex;
    gap: .75em;
}

input[type="text"] {
    display: block;
    flex: 0 0 auto;
    font-size: 1em;
    padding: .6em;
    min-width: 12em;
    font-family: "Archivo", sans-serif;
    font-weight: 300;
    height: 2.4em;
} button {
    background-color: white;
    border: 1px 1px solid black;
    width: 4em;
    max-width: 8em;
    background-color: transparent;
    border-radius: 2px;
    font-family: "Archivo", sans-serif;
    flex: 1 0 auto;
} button:hover {
    background-color: white;
} #start-game {
    max-width: 100%;
    width: auto;
    min-height: 2.4em;
    padding: 0.6em;
}


/* special animation stuff */

.main-window {
    opacity: 0;
    transition: opacity .5s cubic-bezier(.6, 0, .4, 1);
} .fade-in {
    opacity: 1;
} .fade-out {
    opacity: 0;
}

/* added through js*/
.flex-row, .flex-column {
    display: flex;
    gap: .6em;
    align-items: flex-start;
} .flex-column {
    flex-direction: column;
}


/* responsive */

@media (max-width: 72em) {
    body {
        background-color: aquamarine;
    }
    .main-window {
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        gap: 4em;
    } .divider {
        min-height: 0;
        min-width: 80vw;
    } input[type="text"] {
        display: block;
        flex: 0 0 auto;
        width: 30vw;
        align-items: center;
        text-align: center;
    } button {
        width: 15vw;
    } h1, h2, h3, p, label {
        text-align: center;
        margin: 0 5em;
        hyphens: auto;
    } .part-big {
        flex: 0 0 auto;
    } .part-small {
        flex: 0 0 auto;
        align-items: center;
    } #start-game {
        width: 75vw;
    }
}

@media (max-width: 45em) {
    body {
        background-color: sandybrown;
        font-size: 82.5%;
    }
}